<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>
</head>

<body>
    {{> header}}

    <h1>Maintenance</h1>
    <p>Our site is currently being updated to give you, the user, a better experience</p>

    {{> footer}}
</body>

</html>